.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 12px 32px;
  gap: 32px;
  box-sizing: border-box;
}

.flex__default {
  background: transparent;
}

.flex__tertiary {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(9, 10, 14, 0.30);
  backdrop-filter: blur(4px);
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: var(--white-color);
  font: var(--typography-big-text-medium);
  transition: .2s;
}

.link:hover {
  opacity: .7;
}

@media screen and (max-width: 425px) {
  .flex {
    flex-direction: column;
    gap: 12px
  }
}
