.wrapper {
  padding: 240px 104px 0;
  box-sizing: border-box;
}

.wrapper__scroll {
  display: flex;
  flex-direction: column;
  gap: 144px;
  align-items: center;
}

.title_scroll {
  position: sticky;
  top: 240px;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 770px) {
  .title_scroll {
    position: static;
  }
  .wrapper {
    padding: 80px 0 56px 0;
  }
  .wrapper__scroll {
    gap: 80px;
  }
}
