.wrapper {
  padding: 240px 104px 0;
  box-sizing: border-box;
}

.wrapper__scroll {
  display: flex;
  flex-direction: column;
  gap: 144px;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .wrapper {
    padding: 80px 0;
  }
  .wrapper__scroll {
    gap: 80px;
  }
}
