.card {
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 16px;
  background-color: #fff;
  color: #000;
  position: relative;
  box-sizing: border-box;
}

.img {
  margin: 0;
  border-radius: 16px;
  border-style: none;
  cursor: pointer;
  display: block;
  object-fit: cover;
  object-position: center;
  height: 338px;
  box-sizing: border-box;
}

.box {
  margin: 0;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.subtitle {
  font: var(--typography-big-text-regular);
  text-align: left;
  color: var(--gradation-text-icons-basic-tertiary);
  font: var(--typography-helper-h1-text-vf);
}
@media (max-width:770px) {
  .card {
    width: 100%;
    margin: 0;
  }
  .subtitle {
    font: var(--typography-big-text-regular);
  }
  .box {
    padding: 20px;
  }
}
