.card {
  margin: 0;
  width: 600px;
  max-width: 100%;
  border-radius: 16px;
  background-color: #fff;
  color: #000;
  position: relative;
  height: 474px;
  box-sizing: border-box;
}

.img {
  margin: 0;
  border-radius: 16px;
  border-style: none;
  cursor: pointer;
  display: block;
  object-fit: cover;
  object-position: center;
  height: 338px;
  box-sizing: border-box;
}

.box {
  margin: 0;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

@media (max-width:695px) {
  .card {
    min-width: 360px;
    width: 100%;
  }

  .img {
    min-width: 360px;
  }
}

@media (max-width:360px) {
  .card {
    max-width: 320px;
    max-height: 328px;
  }

  .img {
    max-height: 204px;
  }

  .box {
    padding: 20px;
  }
}
