.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font: var(--typography-h3-semi-bold-desktop);
  text-align: center;
  gap: 16px;
}

.ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card__li {
  padding: 16px 0;
  box-sizing: border-box;
}
.green__back__text {
  color:  var(--green-normal-color);
}

.small__size__task {
  font: var(--typography-large-text-regular);
}

.small__size__task > .card__li {
  text-align: center;
  list-style: inside;
  padding: 22px 0;
}

@media screen and (max-width:770px) {
  .ul {
    align-items: center;
  }
  .card:nth-child(2) {
    display: none;
  }
  .card__li {
    padding: 12px 0;
  }
  .card {
    font-size: 24px;
    line-height: 32px;
  }
  .small__size__task > .card__li{
    text-align: center;
    list-style: decimal inside;
    font: var(--typography-big-text-regular);
    padding: 16px 0;
  }
}
