.card{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 320px;
  max-height: 376px;
  font: var(--typography-h3-semi-bold-desktop);
  text-align: center;
  gap: 16px;
}

.ul {
  display: flex;
  flex-direction: column;
}
.card__li {
  padding: 16px 0;
  box-sizing: border-box;
}
.green__back__text {
  color:  #12A16A;
}

.small__size__task {
  align-items: flex-start;
  font: var(--typography-large-text-regular);
}

.small__size__task > .card__li {
  text-align: center;
  list-style: inside;
}

@media screen and (max-width:770px) {
  .mobile {
    display: none;
  }
  .card__li {
    padding: 12px 0;
  }
  .card {
    max-width: 320px;
    font-size: 24px;
    line-height: 32px;
  }
  .small__size__task > .card__li{
    text-align: center;
    list-style: decimal inside;
    font: var(--typography-big-text-regular);
  }
}
