.header {
  padding: 0 104px;
  box-sizing: border-box;
}

.header__wrapper {
  padding: 16px 0;
  box-sizing: border-box;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: none;
  width: 40px;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  background: var(--gradation-surface-secondary-color, #F2F3F4);
}


@media screen and (max-width: 900px) {
  .header {
    padding: 0 16px;
  }
  .header__links {
    display: none;
  }
  .btn {
    display: flex;
  }
}
