.btn {
  width: 400px;
  max-height: 72px;
  padding: 16px 0;
  border-radius: 8px;
  background: #FFFFFF;
  border: 1px solid #F2F3F4;
  font: var(--typography-h3-semi-bold-desktop);
  text-align: center;
  color: #454754;
}

.gray__back__btn{
  background: var(--gradation-surface-secondary-color);
}

.green__back__btn{
  background: #E7F6F0;
  color:  #12A16A;
}

@media screen and (max-width: 770px) {
  .btn{
    width: 100%;
    font: var(--typography-h3-semi-bold-mobile);
  }
}
