.grid {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  justify-items: left;
  align-items: center;
  gap: 256px;
  height: 1484px;
  max-height: 100%;
}

.grid__card {
  
}

.grid:nth-child(2n) {
  justify-content: right;
}
