.section{
  display: flex;
  justify-content: center;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(96px, 608px, 608px);
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 #090A0E14;
  border: 1px solid #F2F3F4;
  transition: .2s;
}

.card__default{
  background: #F2F3F4;
  display: flex;
  flex-direction: column;
  width: clamp(320px, 608px, 608px);
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 #090A0E14;
  border: 1px solid #F2F3F4;
}

.title__card {
  display: flex;
  justify-content: space-between;
  font: var(--typography-h4-semi-bold-desktop);
}

.body__card{
  margin-top: 8px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  max-height: 0;
  transition: .2s;
  overflow: hidden;
}

.card__title_text {
  max-width: 544px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.body__card_active {
    max-height: 200px;
    transition: .2s;
}

.card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.card__icon_active {
  transform: rotate(180deg);
}



@media screen and (max-width: 770px) {
  .card__default{
    padding: 20px;
  }
  .card{
    padding: 20px;
  }
  .title__card{
    font: var(--typography-h4-semi-bold-mobile)
  }
  .title__card > p{
    width : 256px;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .body__card{
    font: var(--typography-big-text-regular)
  }
}
