.section{
  display: flex;
  justify-content: center;
  width: 100%;
}

.card{
  display: flex;
  flex-direction: column;
  max-width: 608px;
  min-height: 96px;
  padding: 32px;
  border-radius: 16px;
  gap: 8px;
  box-shadow: 0px 4px 8px 0px #090A0E0A;
  box-shadow: 0px 8px 16px 0px #090A0E14;
  border: 1px solid #F2F3F4
}

.title__card{
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.01em;
  text-align: left;
}

.body__card{
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
  