:root {
  --typography-golos-text-vf: normal 600 20px / 24px "Golos Text VF", sans-serif;

  --typography-h1-semi-bold-desktop: normal 500 64px / 80px "Roboto", sans-serif;
    --typography-h1-semi-bold-mobile: normal 500 40px / 48px "Roboto", sans-serif;

    --typography-h2-semi-bold-desktop: normal 500 48px / 56px "Roboto", sans-serif;
    --typography-h2-semi-bold-mobile: normal 400 32px / 40px "Roboto", sans-serif;

    --typography-h3-semi-bold-desktop: normal 500 32px / 40px "Roboto", sans-serif;
    --typography-h3-semi-bold-mobile: normal 500 24px / 32px "Roboto", sans-serif;

    --typography-h4-semi-bold-desktop: normal 500 24px / 32px "Roboto", sans-serif;
    --typography-h4-semi-bold-mobile: normal 500 20px / 24px "Roboto", sans-serif;

    --typography-h5-semi-bold-desktop: normal 500 16px / 20px "Roboto", sans-serif;
    --typography-h5-semi-bold-mobile: normal 500 14px / 16px "Roboto", sans-serif;

    --typography-big-text-regular: normal 400 16px / 24px "Roboto", sans-serif;
    --typography-big-text-medium: normal 500 16px / 24px "Roboto", sans-serif;

    --typography-body-text-regular: normal 400 14px / 20px "Roboto", sans-serif;
    --typography-body-text-medium: normal 500 14px / 20px "Roboto", sans-serif;

    --typography-small-text-regular: normal 400 12px / 16px "Roboto", sans-serif;
    --typography-small-text-medium: normal 500 12px / 16px "Roboto", sans-serif;
}
