.text {
  font: var(--typography-h2-semi-bold-desktop);
  text-align: center;
  color: var(--gradation-text-icons-basic-primary);
  max-width: 608px;
}

.strong {
  color: #2E6FD1;
}

@media screen and (max-width: 770px) {
  .text {
    font: var(--typography-h2-semi-bold-mobile);
  }
  .strong {
    font: var(--typography-h2-semi-bold-mobile);
  }
}
