.text {
  font-family: Roboto Flex;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
}

.colorText{
  color: #2E6FD1;
  font-family: Roboto Flex;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
}