.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 128px 104px 0;
  align-items: center;
}

.tasks {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin-top: 64px;
  gap: 16px;
  box-sizing: border-box;
}

.btn {
  margin-top: 48px;
}

@media screen and (max-width: 1200px) {
  .tasks {
    flex-direction: column;
    margin-top: 40px;
  }
}

@media screen and (max-width: 770px) {
  .container {
    padding: 80px 20px 0;
  }
  .btn {
    margin-top: 32px;
  }
}


