.modal {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  transition: .2s;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  z-index: -1;
}

.modal_active {
  z-index: 100;
  left: 0;
}

.links {
  width: 80vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background: var(--gradation-text-icons-basic-quaternary-color);
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.link {
  width: 80%;
  color: var(--white-color);
  font: var(--typography-h1-semi-bold-mobile);
  text-decoration: none;
  transition: .2s;
}

.link:active {
  opacity: .7;
}

.btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
